* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: #A0ECD0;
}

.portfolio {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 0 auto;
  width: 100%;
  background-color: #714955;
}

.Navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: #A0ECD0;
  align-items: right;
}

.Navbar a {
  text-decoration: none;
  color: #A0ECD0;
  margin: 1em;
  display: flex;
  flex-direction: row;
  align-items: right;
  text-align: right;
}

.nav-link {
  text-decoration: none;
  color: #A0ECD0;
}

.header .Navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

h1 {
  font-size: 2em;
  margin: 0.5em;
  color: #A0ECD0;
}

.about-me p {
  font-size: 1.25em;
  align-items: center;
  width: 75%;
  margin: 0 auto;
  padding: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #714955;
  position: relative;
  padding: 10px;
}

.footer a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #A0ECD0;
}