* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: #A0ECD0;
}

.portfolio {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 100%;
  background-color: #714955;
}

.Navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: #A0ECD0;
  align-items: right;
}

.Navbar a {
  text-decoration: none;
  color: #A0ECD0;
  margin: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: right;
}

h1 {
  font-size: 2em;
  margin: 0.5em;
  color: #A0ECD0;
}

